<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Exemple Site Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>


    <!-- Contenu principal -->
    <main>
        <h1>Bienvenue sur PE41 Echecs Yalta !</h1>
        <div class="bloc-boutons">
            <button class="mon-bouton" onclick="openModal(2)" style="margin-top: 30px; width: 250px;">Jouer en local</button>
            <button class="mon-bouton" onclick="ModalErreur()" style="margin-top: 30px; width: 250px;">Jouer en ligne</button>
            <button class="mon-bouton" onclick="goToTutoriel('tutoriel_tour')" style="margin-top: 30px; width: 250px;">Tutoriel</button>
        </div>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" width="100">
            </a>
        </div>
        <div class="ecl">
            <img src="{{ url_for('static', filename='images/2024_LOGO-CENTRALE-H_BLANC.png') }}" alt="ECL" width="160">
        </div>
        <ul>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('test') }}">À propos</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </ul>
        <div class="overlay" id="overlay2">
            <div class="modal" style="max-width: 600px; max-height: 400px;">
                <span class="bouton-fermer" onclick="closeModal(2)">×</span>
                <h2>Jeu</h2>
                <p>Voici la page du jeu.</p>
                <button class="mon-bouton" onclick="goToJeu('3joueurs')" style="margin-top: 50px; width: 180px;">3 joueurs</button>
                <button class="mon-bouton" onclick="returnModal(2,4)" style="margin-top: 40px; width: 180px;">VS IA</button>
            </div>
        </div>
        <div class="overlay" id="overlay3">
            <div class="modal" style="max-width: 250px; max-height: 100px;">
                <span class="bouton-fermer" onclick="closeModal(3)">×</span>
                <h2>Erreur</h2>
                <p>Pas encore implémenté</p>
            </div>
        </div>
        <div class="overlay" id="overlay4">
            <div class="modal" style="max-width: 400px; max-height: 450px;">
                <span class="bouton-fermer" onclick="returnModal(4,2)">↩</span>
                <h2>Jeu contre IA</h2>
                <p>Choisissez le niveau de l'IA :</p>
                <button class="mon-bouton" onclick="goToJeu('ia_aleatoire')" style="margin-top: 50px; width: 250px;">IA Aleatoire</button>
                <button class="mon-bouton" onclick="returnModal(4,5)" style="margin-top: 30px; width: 250px;">IA Profondeur</button>
                <button class="mon-bouton" onclick="ModalErreur(4)" style="margin-top: 30px; width: 250px;">IA Heuristique</button>
            </div>
        </div>
        <div class="overlay" id="overlay5">
            <div class="modal" style="max-width: 400px; max-height: 450px;">
                <span class="bouton-fermer" onclick="returnModal(5,4)">↩</span>
                <h2>Jeu contre IA Profondeur</h2>
                <p>Choisissez la profondeur de l'IA :</p>
                <button class="mon-bouton" onclick="goToJeu('ia_min_min_max')" style="margin-top: 50px; width: 250px;">Profondeur 1</button>
                <button class="mon-bouton" onclick="ModalErreur(5)" style="margin-top: 30px; width: 250px;">Profondeur 2</button>
                <button class="mon-bouton" onclick="ModalErreur(5)" style="margin-top: 30px; width: 250px;">Profondeur 3</button>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>

</html>