<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PE41 Echecs Yalta</title>
    </head>
<body>
    <img id="logo" style="pointer-events: none;" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" width="100" onclick="message()">
    <button onclick="compteur()">Cliquez ici</button>
</body>
<script>
    var a = 0;

    function message() {
        alert("Logo cliqué !");
    }
    function compteur() {
        a += 1;
        a = a%3;
        console.log(a);
        if (a == 2) {
            activation();
        }
    }
    function activation() {
        var a = document.getElementById("logo").style.pointerEvents;
        if (a == "none") {
            document.getElementById("logo").style.pointerEvents = "auto";
        } else {
            document.getElementById("logo").style.pointerEvents = "none";
        }
    }
</script>
</html>
